In [31]:
import pandas as pd
import numpy as np

In [32]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chip = pd.read_csv(url, sep = '\t')

In [33]:
chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [34]:
chip.shape[0]

4622

In [35]:
chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [36]:
chip.shape[1]

5

In [37]:
chip.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [38]:
chip.index

RangeIndex(start=0, stop=4622, step=1)

In [39]:
# most ordered item
c = chip.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [40]:
# most ordered item in choice_description col
c = chip.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [41]:
# items were ordered in total
total_items_orders = chip.quantity.sum()
total_items_orders

4972

In [42]:
# price into float
chip.item_price.dtype

dtype('O')

In [43]:
dollarizer = lambda x: float(x[1:-1])
chip.item_price = chip.item_price.apply(dollarizer)

In [44]:
chip.item_price.dtype

dtype('float64')

In [45]:
# how much was revenue for period in dataset
revenue = (chip['quantity']* chip['item_price']).sum()
print('Revenue was $ '+ str(np.round(revenue, 2)))

Revenue was $ 39237.02

In [46]:
orders = chip.order_id.value_counts().count()
orders

1834

In [47]:
# Average revenue amount per order 
# Solution 1
chip['revenue'] = chip['quantity'] * chip['item_price']
order_grouped = chip.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [48]:
# Solution 2
chip.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [59]:
# # clean the item_price column and transform it in a float
# prices = [(value[1 : -1]) for value in chip.item_price]

# # reassign the column with the cleaned prices
# chip.item_price = prices

# # delete the duplicates in item_name and quantity
# chip_filtered = chip.drop_duplicates(['item_name','quantity'])

# # select only the products with quantity equals to 1
# chip_one_prod = chip_filtered[chip_filtered.quantity == 1]

# chip_one_prod[chip_one_prod['item_price']>10].item_name.nunique()

In [62]:
# what is price of each item

# delete the duplicates in item_name and quantity
chip[(chip['item_name'] == 'Izze') & (chip['quantity'] == 1)]

      order_id  quantity item_name choice_description  item_price  revenue
1            1         1      Izze       [Clementine]        3.39     3.39
24          12         1      Izze       [Grapefruit]        3.39     3.39
47          21         1      Izze       [Blackberry]        3.39     3.39
66          30         1      Izze       [Blackberry]        3.39     3.39
359        155         1      Izze       [Blackberry]        3.39     3.39
360        155         1      Izze       [Grapefruit]        3.39     3.39
430        186         1      Izze       [Grapefruit]        3.39     3.39
579        237         1      Izze       [Clementine]        3.39     3.39
580        237         1      Izze       [Grapefruit]        3.39     3.39
1059       436         1      Izze       [Clementine]        3.39     3.39
1213       495         1      Izze       [Clementine]        3.39     3.39
1611       651         1      Izze       [Blackberry]        3.39     3.39
1612       651         1      Izze       [Blackberry]        3.39     3.39
1680       680         1      Izze       [Clementine]        3.39     3.39
2088       842         1      Izze       [Clementine]        3.39     3.39
2619      1040         1      Izze       [Clementine]        3.39     3.39
2634      1046         1      Izze       [Clementine]        3.39     3.39
2758      1095         1      Izze       [Blackberry]        3.39     3.39
2891      1149         1      Izze       [Blackberry]        3.39     3.39
3669      1468         1      Izze       [Blackberry]        3.39     3.39

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25
10,5,1,Chips and Guacamole,NaN,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
14,7,1,Chips and Guacamole,NaN,4.45,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49,8.49
18,9,2,Canned Soda,[Sprite],2.18,4.36
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75,8.75
20,10,1,Chips and Guacamole,NaN,4.45,4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],3.39,3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
24,12,1,Izze,[Grapefruit],3.39,3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49,8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99,8.99
28,14,1,Canned Soda,[Dr. Pepper],1.09,1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
...,...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",11.75,11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75,11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75,11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
4596,1826,1,Chips and Guacamole,NaN,4.45,4.45
4597,1826,1,Canned Soft Drink,[Nestea],1.25,1.25
4598,1826,1,Bottled Water,NaN,1.50,1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75,8.75
4600,1827,1,Chips and Guacamole,NaN,4.45,4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],1.25,1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25,9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25,9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
4605,1828,1,Chips and Guacamole,NaN,4.45,4.45
4606,1828,1,Canned Soft Drink,[Coke],1.25,1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75,11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
4609,1829,1,Canned Soft Drink,[Sprite],1.25,1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25,9.25
4613,1831,1,Chips,NaN,2.15,2.15
4614,1831,1,Bottled Water,NaN,1.50,1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",8.75,8.75
4616,1832,1,Chips and Guacamole,NaN,4.45,4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [63]:
chip.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
3422    6 Pack Soft Drink
553     6 Pack Soft Drink
1916    6 Pack Soft Drink
1922    6 Pack Soft Drink
1937    6 Pack Soft Drink
3836    6 Pack Soft Drink
298     6 Pack Soft Drink
1976    6 Pack Soft Drink
1167    6 Pack Soft Drink
3875    6 Pack Soft Drink
1124    6 Pack Soft Drink
3886    6 Pack Soft Drink
2108    6 Pack Soft Drink
3010    6 Pack Soft Drink
4535    6 Pack Soft Drink
4169    6 Pack Soft Drink
4174    6 Pack Soft Drink
4527    6 Pack Soft Drink
4522    6 Pack Soft Drink
3806    6 Pack Soft Drink
2389    6 Pack Soft Drink
3132    6 Pack Soft Drink
3141    6 Pack Soft Drink
639     6 Pack Soft Drink
1026    6 Pack Soft Drink
              ...
2996         Veggie Salad
3163         Veggie Salad
4084         Veggie Salad
1694         Veggie Salad
2756         Veggie Salad
4201    Veggie Salad Bowl
1884    Veggie Salad Bowl
455     Veggie Salad Bowl
3223    Veggie Salad Bowl
2223    Veggie Salad Bowl
2269    Veggie Salad Bowl
4541    Veggie Salad Bowl
3293    Veggie Salad Bowl
186     Veggie Salad Bowl
960     Veggie Salad Bowl
1316    Veggie Salad Bowl
2156    Veggie Salad Bowl
4261    Veggie Salad Bowl
295     Veggie Salad Bowl
4573    Veggie Salad Bowl
2683    Veggie Salad Bowl
496     Veggie Salad Bowl
4109    Veggie Salad Bowl
738     Veggie Soft Tacos
3889    Veggie Soft Tacos
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [64]:
chip.sort_values(by = "item_price", ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

In [66]:
chip_salad = chip[chip.item_name == "Veggie Salad Bowl"]
len(chip_salad)

18

In [67]:
# how many times people ordered more than one Canned Soda
chip_drink_steak = chip[(chip.item_name == "Canned Soda") & (chip.quantity > 1)]
len(chip_drink_steak)

20